body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

img, svg {
    vertical-align: bottom;
}

#root {
	width: 100%;
	height: 100%;
}