.video-page-container {
	padding: 8px;
	box-sizing: border-box;
}

.video-page-player {
	width: 100%;
}

.video-page-title {
	width: 100%;
	color: black;
	padding: 8px 0;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 24px;
	margin: 0;
}

.video-page-divider {
	border-bottom: 1px solid #e5e5e5;
	margin: 8px 0;
}

.video-page-subtext {
	margin: 0;
	padding: 8px 0;
	color: #626262;
}

.video-page-author-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.video-page-author-info {
	display: flex;
	gap: 8px;
	height: 100%;
	align-items: center;
}

.video-page-author-avatar {
	border-radius: 50%;
}

.video-page-author-name {
	text-decoration: none;
	color: black;
	margin: 0;
}

.video-page-description {
	color: black;
	padding: 8px 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.video-page-skeleton {
	background: #CCCCCC;
	border-radius: 4px;
}

.video-page-skeleton.player {
	width: 100%;
	height: 45vw;
	max-height: 540px;
	box-sizing: border-box;
}

.video-page-skeleton.title {
	height: 24px;
	width: 100%;
	margin: 8px 0;
	background: #E3E3E3;
}

.video-page-skeleton.video-page-author-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #E3E3E3;
}

.video-page-skeleton.button {
	height: 32px;
	width: 128px;
	background: #E3E3E3;
}

.dark .video-page-skeleton.button {
	background: #292929;
}

.dark .video-page-skeleton.video-page-author-avatar {
	background: #292929;
}

.dark .video-page-skeleton.title {
	background: #292929;
}

.dark .video-page-skeleton {
	background: #252525;
}

.dark .video-page-description {
	color: white;
}

.dark .video-page-author-name {
	color: white;
}

.dark .video-page-subtext {
	color: #aaa;
}

.dark .video-page-divider {
	border-color: #373737;
}

.dark .video-page-title {
	color: white;
}

@media (max-width: 954px) {
	.video-page-container {
		padding: 0;
	}
	
	.video-page-description ,.video-page-author-section, .video-page-title, .video-page-subtext {
		padding: 8px 16px;
	}

	.video-page-skeleton.player {
		margin:  16px;
		width: calc(100% - 32px);
	}
	
	.video-page-skeleton.title {
		margin: 16px;
		width: calc(100% - 32px);
	}
}